h1{
    text-align: center;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
   
    
}

ul li{
    margin-bottom: 5px;
    list-style-type: none;
    text-align: center ;
}